<style>
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal p {
  text-align: left;
}
.reveal ul {
  display: block;
  padding-left: 1em;
}
.reveal ol {
  display: block;
  padding-left: 1em;
}
.small-table table {
  font-size: .65em
}
</style>
